<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>Display Postage Rate</title>
</head>
<body>
    <h1>Postage Rate</h1>
    <p class="error"><%= errorM %></p>
    <p>The postage for your <%= weight %> ounce <%= type %> is $<%= cost %>.</p>
</body>
</html>