<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Get Print jobs</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
    <p>Please click on a button to view the print jobs in the specified order.</p>
    <button type="button" onclick="sortJobs('first')">Sort By First Name</button>
    <form method="get" id="sortForm" name="sortForm" action="/sortPrintJobs">
        <input type="hidden" id="sortType" name="sortType" value="" />

        <button type="button" onclick="sortLast()">Sort By Last Name</button>
        <button type="button" onclick="sortPrint()">Sort By Print Name</button>
        <button type="button" onclick="sortJobs('status')">Sort By Print Status</button>
    </form>
	
	<script>
        function sortJobs(type) {
            var serverData;
            var url = "/sortPrintJobs?sortType=" + type;

            console.log("URL: " + url);

            var xhttp = new XMLHttpRequest();

            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("Got response from server: ")
                    console.log(this.reponseText);

                    serverData = JSON.parse(this.responseText);
                } else {
                    console.log("Server request failed")
                }
            };
            xhttp.open("get", url, true)
            xhttp.send();
        }

        function sortLast() {
            document.getElementById("sortType").value = "last";
            document.getElementById("sortForm").submit();
        }

        function sortPrint() {
            document.getElementById("sortType").value = "print";
            document.getElementById("sortForm").submit();
        }

	</script>
</body>
</html>