<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Get Print jobs</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
    <p>Please click on a button to view the print jobs in the specified order.</p>
    <div id="sortButtons">
        <button type="button" onclick="getPrintJobs('first')">Sort By First Name</button>
        <button type="button" onclick="getPrintJobs('last')">Sort By Last Name</button>
        <button type="button" onclick="getPrintJobs('print')">Sort By Print Name</button>
        <button type="button" onclick="getPrintJobs('status')">Sort By Print Status</button>
    </div>
    <br>
    <br>
    <table id="printTable">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Print Name</th>
            <th>Print Source</th>
            <th>Print Use</th>
            <th>Print Color</th>
            <th>Type of Plastic</th>
            <th>Filename</th>
            <th>Google Drive URL</th>
            <th>Update Date</th>
            <th>Error Message (if needed)</th>
        </tr>
    </table>

    <script>
        function getPrintJobs(type) {
            var serverData;
            var url = "/sortPrintJobs?sortType=" + type;

            console.log("URL: " + url);

            var xhttp = new XMLHttpRequest();

            xhttp.onload = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("Got response from server: ")
                    console.log(this.reponse);

                    serverData = JSON.parse(this.responseText);

                    console.log(serverData);

                    renderPrintJobs(serverData);
                } else {
                    console.log("Server request failed")
                }
            };
            xhttp.open("get", url, true)
            xhttp.send();

            
        }

        function renderPrintJobs(data) {
            var myTable = document.getElementById("printTable");

            for (var i = 0; i < data.length; i++) {
                // Get row values
                var first = data[i].firstname;
                console.log(first);
            }
        }
    </script>
</body>

</html>