<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>ThinkLab 3D Print Job Submission</title>
</head>

<body>
    <h2 style="color: #ed6c21; text-align: center;">Print Job Submitted Successfully!</h2>
    <p style="color: #ed6c21; text-align: center;">You will be redirected back home momentarily...</p>
    <p style="color: #ed6c21; text-align: center;">If the redirect fails you can click the link below to return home</p>
    <div style="text-align: center; margin: 0 auto;">
        <a href="/">Home</a>
    </div>

    <script>
        setTimeout(function () {
            window.location.href = '/';
        }, 2000);
    </script>
</body>

</html>