<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>ThinkLab 3D Print Job Submission</title>
</head>

<body>
    <h2 style="color: #ed6c21; text-align: center;">Print Job Submitted Successfully!</h2>
    <p style="color: #ed6c21; text-align: center;">Click the link below to head back home</p>
    <div style="text-align: center; margin: 0 auto;">
        <a href="/">Home</a>
    </div>
</body>

</html>