body {
    background-color: #2f2f2f;
    font-family: 'Dosis', sans-serif;
    color: #fbfbfb;
    margin: 0;
}

#printTable {
    border-collapse: collapse;
    width: 100%;
    color: #1c2321;

}

#printTable td, #printTable th {
    border: 2px solid black;
    padding: 8px;
}

#printTable tr:hover {opacity: 80%;}

#printTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ed6c21;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.lightyellow {
	background-color: lightyellow;
}

.white {
    background-color: white;
}

.formInput {
	padding-top: 10px;
}

a {
    color: lightblue;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #errorEntry {
      display: none;
  }