body {
    background-color: #2f2f2f;
    font-family: 'Dosis', sans-serif;
    color: #fbfbfb;
    margin: 0;
}

#printTable {
    border-collapse: collapse;
    width: 100%;
    color: #1c2321;

}

#printTable td, #printTable th {
    border: 2px solid black;
    padding: 8px;
}

#printTable tr:hover {opacity: 80%;}

#printTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ed6c21;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.lightyellow {
	background-color: lightyellow;
}

.white {
    background-color: white;
}

.formInput {
	padding-top: 10px;
}